#content {
  /* 사이드 네비게이션과의 거리*/
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

#content header h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}

.sec_cal {
  margin: 0 auto;
}

.sec_cal .cal_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
}

.sec_cal .cal_nav .year-month {
  width: 300px;
  text-align: center;
  line-height: 1;
}

.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  width: 50px;
  height: 78px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid grey;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap .days .day {
  height: 30px;
  border: none;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  height: 80px;
  color: #ddd;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--lessonsListBorder);
}

.current.leaveDay {
  background-color: #3c6ffa;
}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #3c6ffa;
}
.sec_cal .cal_wrap .day:nth-child(7n).today {
  border: 3px solid #f2f2f2;
}
.sec_cal .cal_wrap .day.today {
  border: 3px solid #f2f2f2;
}

.sec_cal .cal_wrap .day:nth-child(7n + 1) {
  color: #ed2a61;
}
.sec_cal .cal_wrap .day.disable {
  color: #999;
}
